<div class="container">
    {{> carousel}}
    {{> card_course}}
    <div class="scrolling-wrapper">
        <div class="card" style="width: 18rem;">
          <img src="https://lh3.googleusercontent.com/proxy/8VfWp1aX8fQmFT6gZEu9xz5CLc4jKwPa5fKa5Mk627kOctvjCsvB-vX5ttoQJz-1J1mLhrnjvSAWGjxVt0I13f__JGVLYYIXHMtD8tEc29Gd" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://lh3.googleusercontent.com/proxy/8VfWp1aX8fQmFT6gZEu9xz5CLc4jKwPa5fKa5Mk627kOctvjCsvB-vX5ttoQJz-1J1mLhrnjvSAWGjxVt0I13f__JGVLYYIXHMtD8tEc29Gd" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://lh3.googleusercontent.com/proxy/8VfWp1aX8fQmFT6gZEu9xz5CLc4jKwPa5fKa5Mk627kOctvjCsvB-vX5ttoQJz-1J1mLhrnjvSAWGjxVt0I13f__JGVLYYIXHMtD8tEc29Gd" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://lh3.googleusercontent.com/proxy/8VfWp1aX8fQmFT6gZEu9xz5CLc4jKwPa5fKa5Mk627kOctvjCsvB-vX5ttoQJz-1J1mLhrnjvSAWGjxVt0I13f__JGVLYYIXHMtD8tEc29Gd" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://lh3.googleusercontent.com/proxy/8VfWp1aX8fQmFT6gZEu9xz5CLc4jKwPa5fKa5Mk627kOctvjCsvB-vX5ttoQJz-1J1mLhrnjvSAWGjxVt0I13f__JGVLYYIXHMtD8tEc29Gd" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://lh3.googleusercontent.com/proxy/8VfWp1aX8fQmFT6gZEu9xz5CLc4jKwPa5fKa5Mk627kOctvjCsvB-vX5ttoQJz-1J1mLhrnjvSAWGjxVt0I13f__JGVLYYIXHMtD8tEc29Gd" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://lh3.googleusercontent.com/proxy/8VfWp1aX8fQmFT6gZEu9xz5CLc4jKwPa5fKa5Mk627kOctvjCsvB-vX5ttoQJz-1J1mLhrnjvSAWGjxVt0I13f__JGVLYYIXHMtD8tEc29Gd" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://lh3.googleusercontent.com/proxy/8VfWp1aX8fQmFT6gZEu9xz5CLc4jKwPa5fKa5Mk627kOctvjCsvB-vX5ttoQJz-1J1mLhrnjvSAWGjxVt0I13f__JGVLYYIXHMtD8tEc29Gd" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>


    <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
    </div>
  </div>
</div>
</div>

