<div class="mt-4">
  <form method="POST" action="">
  <div class="form-group">
    <label for="name">Tìm Kiếm</label>
    <input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Từ Khóa">
  </div>
  <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
  </form>
</div>